
/* values for entire site */

html {
	background: #cfc url(../devImages/devHomImage.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;

}

* {
	font-family: "Josefin Sans", "Lora", sans-serif;
}

h1,
h2,
p,
li {
	padding: 0;
	margin:0;
	color: #293329;
}

p,
li {
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: #66ccff;
	transition: color 2s ease-out;

}

a:hover {
	color: #cfc;

}

h1 {
	margin: 0 0 5% 0;
}

li {
	line-height: 1.5em;
}

ul {
	margin: 0;
}


/* ====== properties and values for #welcomePage =======  */
/* ====== properties and values for #welcomePage =======  */
/* ====== properties and values for #welcomePage =======  */

#welcomePage {
	width: 100%;
	overflow-x: hidden;

	text-align: center;

	background-color: rgb(102, 204, 255);
	-webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

#welcomePage .row {
	display: flex-box;
	-o-display: flex-box;
	-moz-display: flex-box;
	-webkit-display: flex-box;
}



#welcomePage #believe,
#welcomePage #want,
#welcomePage #contact {
	background-color: rgba(102, 204, 255, 0.9);
	border-radius: 2em;
	width: 55%;
	margin: 20% auto 2% auto;
	padding: 0.01em 1% 1em 1%;
}

#welcomePage #logo-container {
	width: 100%;
	margin: 0 auto 0 auto;
}

#welcomePage #logo {
	margin: 10% auto 30% auto;
	width: 35%;

	-webkit-transition: width 2s ease-out;
	-moz-transition: width 2s ease-out;
	-o-transition: width 2s ease-out;
	transition: width 2s ease-out;
}

#welcomePage h1 {
	color: white;
	font-size: 5em;
}

#welcomePage h2 {
	margin: 5% 0 0 0;
	padding: 1%;
	color: white;
	font-size: 3em;
}

#welcomePage h3 {
	font-weight: bold;
}

#welcomePage p,
#welcomePage li {
	font-size: 2em;
	font-weight: bold;
	text-indent: 0;
}

#welcomePage .element {
	width: 50%;
}

#welcomePage #row3 p,
#welcomePage #row5 p,
#welcomePage li {
	margin: 2% auto 5% auto;
}

/* I work... section */

#welcomePage ul {
	padding: 0%;
	text-align: center;
	list-style-type: none;
}

#welcomePage ul li {
	line-height: 1.15em;
}
/* if you... */

#welcomePage #row6 {
	margin: 5% 0 5% 0;
}

#welcomePage #links {
	margin: 0 auto 0 auto;
	width: 80%;
	display: inline-block;
}

#welcomePage #links p {
	display: inline-block;
	margin: 4%;
	min-height: 4em;
	min-width: 4em;

	background-color: rgba(245, 255, 255, 0.9);
	transition: background 2s ease-out;
	border-radius: 50%;
}

#welcomePage #links p a {
	text-align: center;
	vertical-align: -1.5em;
	padding: auto;
}

#welcomePage #links p:hover {
	padding: 1% auto 1% auto;
	background-color: none;
}

/* "Work Hard" */

#welcomePage #row7 {
	padding: 15% 0 5% 0;
}

/*  ------ MOBILE for #welcomePage -- */
/*  ------ MOBILE for #welcomePage -- */


@media screen and (max-width: 850px) {
	#welcomePage #believe,
	#welcomePage #want,
	#welcomePage #contact {
		width: 65%;
	}

		#welcomePage #links {
		width: 85%;
	}

	#welcomePage #logo {
		width: 40%;
	}
}


@media screen and (max-width: 700px) {
	#welcomePage #believe,
	#welcomePage #want,
	#welcomePage #contact {
		width: 75%;
	}

	#welcomePage #links {
		width: 90%;
	}

	#welcomePage #logo {
		width: 50%;
	}
}

@media screen and (max-width: 520px) {
	#welcomePage #believe,
	#welcomePage #want,
	#welcomePage #contact {
		width: 85%;
	}

	#welcomePage p,
	#welcomePage li {
		font-size: 1.8em;
	}

	#welcomePage #links {
		width: 95%;
	}

	#welcomePage #logo {
		width: 60%;
	}
}

@media screen and (max-width: 350px) {
	#welcomePage #believe,
	#welcomePage #want,
	#welcomePage #contact {
		width: 90%;
	}

	#welcomePage p,
	#welcomePage li {
		font-size: 1.5em;
	}

	#welcomePage #links {
		width: 100%;
	}

	#welcomePage #logo {
		width: 80%;
	}
}

@media screen and (max-width: 320px) {
	#welcomePage h1 {
		font-size: 4.5em;
	}

	#welcomePage #believe,
	#welcomePage #want,
	#welcomePage #contact {
		width: 95%;
	}

	#welcomePage p,
	#welcomePage li {
		font-size: 1.3em;
	}

	#welcomePage #logo {
		width: 95%;
		margin-bottom: 50%;
	}
}

/*
------ END properties and values for #welcomePage ------
*/




/*
====== properties and values for #workPage =======
====== properties and values for #workPage =======
====== properties and values for #workPage =======
*/

#workPage {
	width: 100%;
	background: rgba(102, 204, 255, 0.9);
	overflow-x: hidden;
}

#workPage .row {
	width: 100%;
}

/* ---- Navigation Values ----- */

/* ---- .navLeft ----- */
#workPage .navLeft {
	padding: 2%;
	width: 20%;
	display: inline-block;
}

#workPage .navLeft a {
	width: 100%;
	height: auto;
	position: static;
	display: inline-block;
}

#workPage .navLeft img {
	width: 100%;
}


/* ---- .navRight ----- */
#workPage .navRight {
	padding: 2%;
	width: 71%;
	display: inline-block;
	vertical-align: 150%;
}

#workPage ul {
	list-style: none;
	padding: 1.25% 0 0 0;
	width: 100%;
	margin:
}

#workPage .navRow ul li {
	background: rgba(255, 255, 255, 0.8);
	width: 27%;
	margin: 1% 2% 1% 2%;
	padding: 0.3em 0 0.1em 0;
	border: 0.2em solid white;
	border-radius: 2em;

	text-align: center;
	font-weight: 700;

	display: inline-block;
}

#workPage .navRight p {
	width: 90%;
	margin: 2% 2% 1% 10%;
}

/* ---- WORK PROJECTS SECTION ----- */

#workPage .workSection {
	padding: 3%;
	width: 94%;
	text-align: right;
}

/* - work projects TITLES - */
#workPage .white {
	color: white;
}

#workPage .column-center {
	width: 100%;
}

#workPage h1 {
	margin: 1%;
}

#workPage h2 {
	margin: 1% 5% 2% 1%;
}

/* - work projects HIGHLIGHTS - */

#workPage #pHighlights ul {
	width: 100%;
}

#workPage #pHighlights ul li {
	display: inline-block;
	padding: 0.4em 0.3em 0.2em 0.3em;
	margin: 1%;

	background: rgba(255, 255, 255, 0.8);
	border: 0.2em solid white;
	border-radius: 2em;
}



/* - work projects LINKS - */

#pLinks {
	width: 100%;
	padding: 1% 0;
}

#workPage #pLinks .column-left,
#workPage #pLinks .column-right {
	display: inline-block;
	width: 47.70%;
	padding: 1%;
	margin: 0 auto 0 auto;
	text-align: center;
	position: static;
}

#workPage #pLinks p {
	width: 50%;
	margin: 1% auto 1% auto;
	text-align: center;
	padding: 2% 2% 1% 2%;
	color: white;
	background: black;
	border: 2px solid white;
	border-radius: 2px;
	display: block;
}

#workPage #pLinks p:hover {
	background: rgba(255, 255, 255, 0.8);
}

#workPage #pLinks a:hover {
	color: black;
}

/* - work projects IMAGES - */

#workPage #pSlider {
	width: 100%;
	padding: 2% 0 5% 0;
	overflow: hidden;
	position: relative;
}

#workPage .sliderContainer {
	height: 35em;
	overflow: hidden;
	position: static;
}

#workPage #pSlider a {
	position: absolute;
	width: 98%;
	height: 100%;
}

#workPage #pSlider img {
	position: absolute;
	right: 101%;
	top: 0;
	width: 100%;
}


/* - work projects BACKGROUND - */
#workPage #p3,
#workPage #p1 {
	background-color: rgba(245, 255, 255, 0);
	transition: background 10s ease-out;
}


/*
------ mobile for #workPage --------------
------ mobile for #workPage --------------
*/


@media screen and (max-width: 930px) {
	#workPage .navRow ul li {
		width: 26%;
		margin: 0.5%;
	}

	#workPage .sliderContainer {
		height: 25em;
	}
}

@media screen and (max-width: 710px) {
	#workPage #pLinks .column-left,
	#workPage #pLinks .column-right {
		display: inline-block;
		width: 47%;
	}

	#workPage .sliderContainer {
		height: 20em;
	}
}

@media screen and (max-width: 570px) {
	#workPage .navRow ul li {
		width: 26%;
		margin: 0.5% 1% 0.5% 1%;
	}

	#workPage .navRow {
		padding: 0 0 2% 0;
	}

	#pLinks p {
		width: 75%;
	}

	#workPage .sliderContainer {
		height: 15em;
	}
}

@media screen and (max-width: 410px) {
	#workPage .navLeft {
		display: block;
		width: 80%;
		margin: 0 auto 0 auto;
		padding: 1% 2% 1% 2%;
	}

	#workPage .navRight {
		display: block;
		width: 100%;
	}

	#workPage .navRow {
		padding: 0 0 5% 0;
	}

	#workPage #pHighlights ul li {
		font-size: 1em;
		padding: 0.1em 0.1em 0.02em 0.1em;
		margin: 0.5% 0.2% 0.5% 0.2%;
	}

	#workPage .sliderContainer {
		height: 10em;
	}
}