
/* values for entire site */

html {
	background: #cfc url(../devImages/devHomImage.jpg) no-repeat center center fixed;
	background-size: cover;
	overflow-x: hidden;
	width: 100%;

}

* {
	font-family: "Josefin Sans", "Lora", sans-serif;
}

h1,
h2,
p,
li {
	padding: 0;
	margin:0;
	color: #293329;
}

p,
li {
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: #66ccff;
	transition: color 2s ease-out;

}

a:hover {
	color: #cfc;

}

h1 {
	margin: 0 0 5% 0;
}

li {
	line-height: 1.5em;
}

ul {
	margin: 0;
}


/* ====== properties and values for #welcomePage =======  */
/* ====== properties and values for #welcomePage =======  */
/* ====== properties and values for #welcomePage =======  */

#welcomePage {
	width: 100%;
	overflow-x: hidden;

	text-align: center;

	background-color: rgb(102, 204, 255);
	-webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.row {
	display: flex-box;
	-o-display: flex-box;
	-moz-display: flex-box;
	-webkit-display: flex-box;
}



#believe,
#want,
#contact {
	background-color: rgba(102, 204, 255, 0.9);
	border-radius: 2em;
	width: 55%;
	margin: 20% auto 2% auto;
	padding: 0.01em 1% 1em 1%;
}

#logo-container {
	width: 100%;
	margin: 0 auto 0 auto;
}

#logo {
	margin: -10% auto 0 auto;
	width: 100%;

	-webkit-transition: width 2s ease-out;
	-moz-transition: width 2s ease-out;
	-o-transition: width 2s ease-out;
	transition: width 2s ease-out;
}

#welcomePage h1 {
	color: white;
	font-size: 5em;
}

#welcomePage h2 {
	margin: 5% 0 0 0;
	padding: 1%;
	color: white;
	font-size: 3em;
}

#welcomePage h3 {
	font-weight: bold;
}

#welcomePage p,
#welcomePage li {
	font-size: 2em;
	font-weight: bold;
	text-indent: 0;
}

.element {
	width: 50%;
}

#welcomePage #row3 p,
#welcomePage #row5 p,
#welcomePage li {
	margin: 2% auto 5% auto;
}

/* I work... section */

#welcomePage ul {
	padding: 0%;
	text-align: center;
	list-style-type: none;
}

/* if you... */

#row6 {
	margin: 5% 0 5% 0;
}

#links {
	display: inline-flex;
	width: 50%;
}

#links p {
	flex-grow: 1;
	margin: 4%;
	min-height: 4em;
	min-width: 4em;

	background-color: rgba(245, 255, 255, 0.9);
	transition: background 2s ease-out;
	border-radius: 50%;
}

#links p a {
	text-align: center;
	vertical-align: -1.5em;
	padding: auto;
}

#links p:hover {
	padding: 1% auto 1% auto;
	background-color: none;
}

/* "Work Hard" */

#row7 {
	margin: 15% 0 5% 0;
}


/*
====== properties and values for #workPage =======
====== properties and values for #workPage =======
====== properties and values for #workPage =======
*/

#workPage {
	width: 100%;
	background: rgba(102, 204, 255, 0.9);
}

#workPage .row {
	width: 100%;
	display: inline-flex;
}

#workPage .column-left {
	flex-grow: 1;
	float: left;
	width: 40%;
	padding: 1%;
	margin: 1% auto 2% auto;
}

#workPage .column-right {
	flex-grow: 1;
	float: right;
	width: 40%;
	padding: 1%;
	margin: 1% auto 2% auto;
}

#workPage .column-center {
	width: 100%;
}

/* ---- Navigation Values ----- */

.navLeft {
	float: left;
	margin: 2%;
	padding: 1%;
	width: 25%;
}

.navRight {
	float: right;
	margin: 2%;
	padding: 1%;
	width: 65%;
}


#navLogo {
	margin: -4% auto 2% auto;
	width: 55%;
}

#workPage ul {
	list-style: none;
	display: inline-flex;
	padding: 0;
	width: 100%;
}

#workPage ul li {
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
	width: 28%;
	padding: 0 auto 0 auto;
	margin: 1% 2% 1% 2%;
	border: 0.2em solid white;
	border-radius: 2em;
	font-weight: 700;
	flex-grow: 1;
	max-width: 30%;
}

#workPage ul li {
	padding: 0.3em 0 0.1em 0;
}

#workPage .navRight p {
	width: 90%;
	margin: 2% 2% 1% 10%;
	flex-grow: 1;
}

/* ---- WORK PROJECTS SECTION ----- */

.workSection {
	padding: 3%;
	width: 94%;
	text-align: right;
}

.white {
	color: white;
}

#workPage .row {
	padding: 1%;
	margin: 1%;
	width: 94%;
}

#workPage .column-center {
	width: 100%;
}

#workPage h1 {
	margin: 1%;
}

#workPage h2 {
	margin: 1% 5% 2% 1%;
}

#pLinks .column-center {
	display: inline-flex;
}

#pLinks p {
	margin: -2% auto -2% auto;
	text-align: center;
	padding: 1% 2% 1% 2%;
	color: white;
	background: black;
	border: 2px solid white;
	border-radius: 2px;
}

#pSlider {
	width: 100%;
	height: 30em;
	overflow: hidden;
	position: relative;
}

.sliderContainer {
	position: static;
}

#pSlider a {
	position: absolute;
	width: 98%;
	height: 100%;
}

#pSlider img {
	position: relative;
	width: 100%;
}

#workPage #p3,
#workPage #p1 {
	background-color: rgba(245, 255, 255, 0);
	transition: background 7s ease-out;
}
